:root {
    --header-height: 3.5rem;

    /* =================== COLORS =================== */
    --first-color: hsl(353, 93%, 50%);
    --first-color-alt: hsl(353, 93%, 46%);
    --title-color: hsl(353, 48%, 12%);
    --text-color: hsl(353, 16%, 32%);
    --white-color: hsl(24, 86%, 90%);
    --body-color: hsl(24, 86%, 88%);
    --container-color: hsl(24, 86%, 92%);

    /* =================== FONT =================== */
    --body-font: "Montserrat", sans-serif;
    --second-font: "Carter One", system-ui;

    /* =================== SHADOW =================== */
    --shadow-big-img: drop-shadow(0 8px 24px hsla(353, 100%, 8%, .2));

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* =================== Reuse Layout Class =================== */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* =================== BUTTON =================== */
.button {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 8px 24px hsla(353, 100%, 40%, .4);
    transition: background-color .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

/* =================== BACKGROUND =================== */
.home {
    background-color: var(--body-color);
}
.about {
    background-color: var(--container-color);
}
.popular {
    background-color: var(--body-color);
}
.products {
    background-color: var(--container-color);
}
.contact {
    background-color: var(--body-color);
}
/* .section {
    padding-block: 5rem 3rem;
} */


/* =================== HEADER =================== */
.nav__list {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    align-items: center;
}

.nav__logo-img {
    width: 7rem;
    vertical-align: middle;
}

/* =================== HOME =================== */
.home__container {
    row-gap: 3rem;
    text-align: center;
    
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__description {
    margin-bottom: 2.5rem;
}

.home__images {
    position: relative;
    display: grid;
    justify-items: center;
}

.home__cake {
    width: 250px;
    z-index: 2;
    filter: var(--shadow-big-img);
}

.home__plate {
    width: 450px;
    position: absolute;
    bottom: -4rem;
    z-index: 1;
    filter: var(--shadow-big-img);
}


/* =================== POPULAR =================== */
.popular__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 3rem;
    justify-items: center;
}

.popular__card {
    text-align: center;
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 24px hsla(353, 100%, 8%, .1);
}
.popular__img {
    width: 200px;
    margin-inline: auto;
    filter: var(--shadow-big-img);
    margin-bottom: 1rem;
    transition: transform .3s;
}

.popular__card:hover .popular__img {
    transform: translateY(-0.5rem);
}

.popular__title {
    font-size: 1.25rem;
    color: var(--first-color);
    margin-top: 1rem;
}

/* =================== Different Screen =================== */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }

    .nav__list {
        column-gap: 4rem;
    }

    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: left;
    }

    .home__cake {
        width: 500px;
    }

    .home__plate {
        width: 800px;
    }
}